:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 15px auto;
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

.hero-image {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.introduction {
  margin-top: 50px;
}

.italic {
  font-style: italic;
}

.text-red {
  font-style: italic;
  color: #e81224;
}

.text-yellow {
  font-style: italic;
  color: #fcb901;
}

.Trademark-Symbol-h1 {
  font-size: 20px;
  position: relative;
  bottom: 40px;
}

.Google-Play-Button {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.Trademark-Symbol-h4 {
  font-size: 12px;
  position: relative;
  bottom: 13px;
}

.content-introduction {
  margin: 70px 0;
}

.USP-screens-visible-md {
  width: 550px;
  display: block;
  margin: 0 auto;
}

.USP-description-left {
  margin-left: 8px;
}

.USP-description-left h5 {
  line-height: 1.5;
}

.USP-description-right {
  margin-left: 8px;
}

.USP-description-right h5 {
  line-height: 1.5;
}

.underlined {
  text-decoration: underline;
}

.button-der {
  width: 120px;
  background: #5aa5e7;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
.button-der:hover {
  background-color: #4a87bd;
}

.button-die {
  width: 120px;
  background: #e64747 !important;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
.button-die:hover {
  background-color: #be3838 !important;
}

.button-das {
  width: 120px;
  background: #75c26f !important;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.button-das:hover {
  background-color: #61a55c !important;
}

.external-link {
  text-decoration: none;
  color: #5aa5e7;
}

.external-link:hover {
  color: #4a87bd;
  text-decoration: none;
}

.btn-primary {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  background-color: #5aa5e7;
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Lato", sans-serif;
  transition: all 200ms ease-in-out;
  border: none;
}
.btn-primary:hover {
  background-color: #4a87bd;
}

.icons {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.icons img {
  width: 40px;
}

.contact-link {
  font-size: 18px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #5aa5e7;
}

.contact-link:hover {
  color: #4a87bd;
  text-decoration: none;
}

.panel-group {
  margin: 30px 190px;
}

.panel-group h4 {
  font-weight: bold;
}
.panel-default-blue {
  background: #5aa5e7;
  border: 1px solid #DDDDDD;
}

.panel-default-red {
  background: #be3838;
  border: 1px solid #DDDDDD;
}

.panel-default-green {
  background: #61a55c;
  border: 1px solid #DDDDDD;
}
.panel-default-yellow {
  background: #FFF04D;
  border: 1px solid #DDDDDD;
}

.panel-body {
  background: #FFFFFF;
}

.btn-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.faq-header {
  text-align: center;
  font-weight: bold;
}

.faq-contact-link {
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #5aa5e7;
}
.faq-contact-link:hover {
  color: #4a87bd;
  text-decoration: none;
}

@media (max-width: 992px) {
  h1 {
    font-size: 45px;
    padding: 10px;
  }
  .faq-header h1 {
    margin-bottom: 0;
  }
  .faq-header h2 {
    margin-top: 0;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
    padding: 3px;
  }
  h5 {
    font-size: 16px;
    padding: 3px;
    text-align: left;
  }

  .hero-image {
    display: block;
    margin: 0 auto;
    max-width: 350px;
    margin-bottom: 15px !important;
  }

  .introduction {
    margin: 0 !important;
  }

  .Trademark-Symbol-h1 {
    font-size: 15px;
    position: relative;
    bottom: 21px;
  }

  .Google-Play-Button {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .content-introduction {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .Trademark-Symbol-h4 {
    font-size: 9px;
    position: relative;
    bottom: 7px;
  }

  .USP-screens-visible-sm {
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }

  .USP-Überschrift {
    text-align: center !important;
    margin-top: 15px !important;
  }

  .USP-description-left,
  .USP-description-right {
    margin-top: 20px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }

  .USP-description-left br {
    display: none;
  }

  .USP-description-right br {
    display: none;
  }
  .button-der {
    margin-top: 0 !important;
  }
  .button-das {
    margin-bottom: 0 !important;
  }

  .lines {
    max-width: 430px;
    display: block;
    margin: 0 auto;
  }

  .panel-group {
    margin: 0 20px;
  }

  .panel-title {
    font-size: 15px;
  }
  .panel-body {
    font-size: 13px;
  }
  .icons img {
    max-width: 50px;
    margin: 5px !important;
  }

  .contact-link {
    font-size: 16px;
    margin-top: 10px;
  }
  .faq-contact-link {
    font-size: 16px;
  }

  .Copyright {
    font-size: 13px;
  }

  footer p {
    font-size: 13px;
  }
}
