:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
  font-size: 80px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 15px auto;
  font-size: 30px;
}

.Blick-in-die-App {
  max-width: 600px;
}
.introduction {
  padding: 90px 0;
}

.Artikel {
  font-style: italic;
}

.registered-TM {
  font-size: 30px;
  font-weight: 900;
  position: relative;
  bottom: 33px;
}

.Google-Play-Button {
  width: 220px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .Blick-in-die-App {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px !important;
  }
}
