:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 15px auto;
  font-size: 30px;
}

.Blick-in-die-App {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.introduction {
  padding: 90px 0;
}

.italic {
  font-style: italic;
}

.text-red {
  font-style: italic;
  color: #E81224;
}

.text-yellow {
  font-style: italic;
  color: #fcb901;
}

.Trademark-Symbol-h1 {
  font-size: 20px;
  position: relative;
  bottom: 40px;
}

.Google-Play-Button {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.Trademark-Symbol-h4 {
  font-size: 12px;
  position: relative;
  bottom: 13px;
}

.USP-Überschrift {
  margin-top: 0px;
}

.USP-screens {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.USP-description-left {
  margin-left: 16px;
  margin-top: 85px;
}

.USP-description-left h5 {
  line-height: 1.5;
}


.USP-description-right {
  text-align: left;
  margin-top: 120px;
  margin-left: 18px;
}

.USP-description-right h5 {
  line-height: 1.5;
}

.underlined {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .Blick-in-die-App {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 15px !important;
  }

  .introduction {
    padding: 0 !important;
  }
  .introduction h4 {
    font-size: 20px;
    text-align: center;
  }
  .introduction h1 {
    font-size: 48px;
  }

  .Trademark-Symbol {
    font-size: 15px;
    position: relative;
    bottom: 23px;
  }
  .Google-Play-Button {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
}
