h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
}
.GERMAGO-Logo {
    width: 50px;
    display: block;
    margin: 20px auto;
}

.Google-Play-Button {
    width: 150px;
    display: block;
    margin: 20px auto;
}



