:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 15px auto;
  font-size: 30px;
}

.Blick-in-die-App {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.introduction {
  padding: 90px 0;
}

.italic {
  font-style: italic;
}

.text-red {
  font-style: italic;
  color: #e81224;
}

.text-yellow {
  font-style: italic;
  color: #fcb901;
}

.Trademark-Symbol-h1 {
  font-size: 20px;
  position: relative;
  bottom: 40px;
}

.Google-Play-Button {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.Trademark-Symbol-h4 {
  font-size: 12px;
  position: relative;
  bottom: 13px;
}

.USP-Überschrift {
  margin-top: 0px;
}

.USP-screens-visible-md {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.USP-description-left {
  margin-left: 18px;
  margin-top: 70px;
}

.USP-description-left h5 {
  line-height: 1.5;
}

.USP-description-right {
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
}

.USP-description-right h5 {
  line-height: 1.5;
}

.underlined {
  text-decoration: underline;
}

.external-link {
  text-decoration: none;
  color: #5aa5e7;
}

.external-link:hover {
  color: #4a87bd;
}

.btn-primary {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  background-color: #5aa5e7;
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Lato", sans-serif;
  transition: all 200ms ease-in-out;
  border: none;
}
.btn-primary:hover {
  background-color: #4a87bd;
}

@media (max-width: 576px) {
  h4 {
    font-size: 18px;
    padding: 3px;
  }
  h5 {
    font-size: 16px;
    padding: 3px;
    text-align: left;
  }

  .Blick-in-die-App {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 15px !important;
  }

  .introduction {
    padding: 0 !important;
  }

  .introduction h1 {
    font-size: 45px;
    padding: 10px;
  }

  .Trademark-Symbol-h1 {
    font-size: 15px;
    position: relative;
    bottom: 21px;
  }

  .Google-Play-Button {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .USP-introduction {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .Trademark-Symbol-h4 {
    font-size: 9px;
    position: relative;
    bottom: 7px;
  }

  .USP-screens-visible-sm {
    max-width: 320px;
    display: block;
    margin: 0 auto;
  }

  .USP-Überschrift {
    text-align: center !important;
  }

  .USP-description-left,
  .USP-description-right {
    margin-top: 25px;
    margin-right: 0 !important;
   
  }

  .USP-description-left br {
    display: none;
  }

  .USP-description-right br {
    display: none;
  }
  .centered {
    text-align: center;
  }
}
