body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 900;
}

h4 {
  margin: 15px auto;
}

.Blick-in-die-App {
  width: 150px;
}

.Artikel {
  font-style: italic;
}

.registered-TM {
  font-size: 15px;
  font-weight: 900;
  position: relative;
  bottom: 14px;
}

.Google-Play-Button {
  width: 150px;
  display: block;
  margin: 0 auto;
}
