:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
}

h4 {
  margin: 15px auto;
}

.Artikel {
  font-style: italic;
}

.registered-TM {
  font-size: 15px;
  font-weight: 900;
  position: relative;
  bottom: 14px;
}

.Google-Play-Button {
  width: 150px;
  display: block;
  margin: 0 auto;
}
