:root {
  --primary-color: #2e3033;
}

body {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  background: linear-gradient(
    180deg,
    #ffffff 9.9%,
    #f3f4f4 58.33%,
    #eaf3ff 100%
  );
}

h1 {
  font-weight: 900;
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 15px auto;
  font-size: 30px;
}

.Blick-in-die-App {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.introduction {
  padding: 90px 0;
}

.Artikel {
  font-style: italic;
}

.Trademark-Symbol {
  font-size: 20px;
  position: relative;
  bottom: 35px;
}
.Google-Play-Button {
  width: 220px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .Blick-in-die-App {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 15px !important;
  }

  .introduction {
    padding: 0 !important;
  }
  .introduction h4 {
    font-size: 20px;
    text-align: center;
  }
  .introduction h1 {
    font-size: 48px;
  }
  
  .Trademark-Symbol {
    font-size: 15px;
    position: relative;
    bottom: 23px;
  }
  .Google-Play-Button {
  width: 150px;
  display: block;
  margin: 0 auto;
}
}

